body{
  background-color: rgb(0, 0, 0);
}

.intro{
  color:aliceblue;
  font-size: 30px;
  text-align: center;
  margin-top: 200px;
}

.name{
  color:darkgoldenrod;
  font-size:150px;
  text-align: center;

}

footer{
  margin-top: 460px;
  color: azure;
  text-align: center;
  font-size: 20px;
}
